/**********************************************************/
.divTable{ 
	display: table;
	width: 100%;

}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0 solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableCellTab {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
    width: 40px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	/**font-weight: bold;**/
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	/**font-weight: bold;**/
}
.divTableBody {
	display: table-row-group;
}

.left_cell {
    text-align: right;
}

#div_username, #div_newusername {
    padding-top: 3%;
}

#div_buttons {
    padding-top: 1%;
}

#username, #password, #newusername, #newpassword, #repeatnewpassword {
    width: 140px;
}

/**********************************************************/


/**********************************************************/

#page_login, #page_newuser {
    /**background-color: rgb(195, 235, 135);**/
    font: 20px Georgia, serif;
    padding-top: 8%;
 }

.page_login_buttons {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(131, 76, 76, 0);
    background-image: linear-gradient(
      to top left,
      rgb(0 0 0 / 90%),
      rgb(0 0 0 / 90%) 30%,
      rgb(0 0 0 / 100%)
    );
    box-shadow:
      inset 2px 2px 3px rgb(255 255 255 / 60%),
      inset -2px -2px 3px rgb(0 0 0 / 90%);
    width: 125px;
  }
  
  .page_login_buttons:hover {
    background-color: rgb(240 240 240 / 100%);
  }
  
  .page_login_buttons:active {
    box-shadow:
      inset -2px -2px 3px rgb(240 240 240 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }

#page_newuser {
   /**background-color: skyblue;**/
   display: none;
   visibility: hidden;
}

#page_main {
    display: none;
    visibility: hidden;
}

#page_login_abrv, #page_newuser_abrv {
    font: 80px Arial, sans-serif;
    text-align: center;
}

#page_login_longname, #page_newuser_longname, #page_main_title{
    text-align: center;
}

#page_main_title {
    padding: 10px;
    font: 20px Georgia, serif;
    border-bottom:1px solid black;
}

.main_upper {
    border-bottom:1px solid black;
    padding: 0;
} 

body {
    margin: 0;
}

.caseName, #addCase {
    cursor: pointer;
}

#main_lowerleft,  #main_upperleft {
  width: 10%;
  border-right: 1px solid black;
  vertical-align: top;
}
#main_upperright {
  border: 0;
}
/**
#main_lowerright,  #main_upperright {

}

.tablefixed {
  
}
**/
#importcases_textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.tab_horizontal {
  background-color: green;
}

/**************************************************************/

/*** {box-sizing: border-box} **/

/* Style the tab */
.tab {
  /**float: left;**/
  border: 0;
  background-color: #f1f1f1;
  width: 100%;
  /**height: 300px;**/
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  /**height: 300px; **/
}

/********************/
.siteHeader {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;

  /**
   * Make the container put as much space as possible
   * between its children, with the children at either
   * end laying flush against the container's edges.
   */
  justify-content: space-between;

  padding: 0px;
  background-color: #56727C;
}

  .siteHeader__section {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * Align the children in the center, along
     * the main axis. By default the children will
     * align along their top edges.
     */
    align-items: center;
  }

    .siteHeader__item {
      padding: 5px 15px;
      font-size: 12px;
    }

    .siteHeader__item + .siteHeader__item {
      margin-left: 5px;
    }

    .siteHeader__item.is-site-header-item-selected {
      color: #FFFFFF;
      background-color: #415F69;
      border-radius: 4px;
    }

    .siteHeaderLogo {
      font-size: 20px;
      line-height: 0;
      color: white;
    }

    .siteHeaderButton {
      cursor: pointer;
      color: #D9E9EF;
    }

    /****************************************************************/
    .sideBar {
      /**
       * This container orders items according to flexbox
       * rules. By default, this would arrange its children
       * horizontally. However, the next property...
       */
      display: flex;
    
      /**
       * ...sets the main axis to be vertical instead of
       * horizontal, so now the children are laid out
       * vertically, from top to bottom.
       */
      flex-direction: column;
    
      /**
       * It will also put as much space as possible
       * between its children, with the children at either end
       * laying flush against the container's edges.
       */
      justify-content: space-between;
    
      height: calc(100vh - 100px);
      width: 150px;
      border-right: 0;
      background-color: #FCFDFD;
      padding: 0;
      overflow-y:auto;
    }
    
      .sideBar__item {
        cursor: pointer;
        padding: 5px 10px;
        color: #16A2D7;
        font-size: 12px;
      }
    
      .sideBar__item.is-side-bar-item-selected {
        background-color: #EEF3F5;
        border-radius: 4px;
      }

      .mlr,
      #main_lowerright_evaluate, 
      #main_lowerright_file, 
      #main_lowerright_newcase, 
      #main_lowerright_import {
        display: none;
        visibility: hidden;
      }