/**********************************************************/
.divTable{ 
	display: table;
	width: 100%;

}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0 solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableCellTab {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
    width: 40px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	/**font-weight: bold;**/
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	/**font-weight: bold;**/
}
.divTableBody {
	display: table-row-group;
}

.left_cell {
    text-align: right;
}

#div_username, #div_newusername {
    padding-top: 3%;
}

#div_buttons {
    padding-top: 1%;
}

#username, #password, #newusername, #newpassword, #repeatnewpassword {
    width: 140px;
}

/**********************************************************/


/**********************************************************/

#page_login, #page_newuser {
    /**background-color: rgb(195, 235, 135);**/
    font: 20px Georgia, serif;
    padding-top: 8%;
 }

.page_login_buttons {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(131, 76, 76, 0);
    background-image: linear-gradient(
      to top left,
      rgb(0 0 0 / 90%),
      rgb(0 0 0 / 90%) 30%,
      rgb(0 0 0 / 100%)
    );
    box-shadow:
      inset 2px 2px 3px rgb(255 255 255 / 60%),
      inset -2px -2px 3px rgb(0 0 0 / 90%);
    width: 125px;
  }
  
  .page_login_buttons:hover {
    background-color: rgb(240 240 240 / 100%);
  }
  
  .page_login_buttons:active {
    box-shadow:
      inset -2px -2px 3px rgb(240 240 240 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }

#page_newuser {
   /**background-color: skyblue;**/
   display: none;
   visibility: hidden;
}

#page_main {
    display: none;
    visibility: hidden;
}

#main_lowerright_newcase {
  display: none;
  visibility: hidden;
}

#page_login_abrv, #page_newuser_abrv {
    font: 80px Arial, sans-serif;
    text-align: center;
}

#page_login_longname, #page_newuser_longname, #page_main_title{
    text-align: center;
}

#page_main_title {
    padding: 10px;
    font: 20px Georgia, serif;
    border-bottom:1px solid black;
}

.main_upper {
    border-bottom:1px solid black;
    padding: 0;
} 

body {
    margin: 0;
}

.caseName, #addCase {
    cursor: pointer;
}

#main_lowerleft,  #main_upperleft {
  width: 10%;
  border-right: 1px solid black;
  vertical-align: top;
}

/**
#main_lowerright,  #main_upperright {

}

.tablefixed {
  
}
**/
#importcases_textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}